name: Publish gem

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Tag with the gem version
        run: |
          GEM_VERSION=$(ruby -e "require 'rubygems'; gemspec = Dir.glob(\"./**/*.gemspec\").first; puts Gem::Specification::load(gemspec).version")
          TAG="v$GEM_VERSION"
          git tag $TAG && git push origin $TAG
      - name: Set up github private registry key
        run: |
          mkdir -p ~/.gem
          touch ~/.gem/credentials
          chmod 600 ~/.gem/credentials
          echo ":github: Bearer ${{ secrets.GITHUB_TOKEN }}" >> ~/.gem/credentials
      - name: Build and push gem
        run: |
          gem build *.gemspec
          gem push ./*.gem
